{% load static %}
<!DOCTYPE html>
<head>
<title>About Cashew</title>
<style>
    .para{
        font-size: 18px;
    }
    </style>
</head>
<body style="background-color: azure;">
<img src="{% static 'images/cashew.jpeg'%}"border="0" alt="Cashew cultivation in India" width="1520" height="300" />
<h1>About Cashew</h1>
<p class="para">
The cashew tree (Anacardium occidentale) is a tropical evergreen tree in the genus Anacardium that produces the cashew seed and the cashew apple accessory fruit. The tree can grow as tall as 14 metres (46 feet), but the dwarf cultivars, growing up to 6 m (20 ft), prove more profitable, with earlier maturity and greater yields.</p>

<p class="para">

The cashew seed is commonly considered a snack nut (cashew nut) eaten on its own, used in recipes, or processed into cashew cheese or cashew butter. Like the tree, the nut is often simply called a cashew. Cashew allergies are triggered by the proteins found in tree nuts, and cooking often does not remove or change these proteins.</p> 
  
<h2>History of Cashew</h2>

<p class="para">
In 2019, four million tonnes of cashew nuts were produced globally, with Ivory Coast and India as the leading producers. As well as the nut and fruit, the plant has several other uses. The shell of the cashew seed yields derivatives that can be used in many applications including lubricants, waterproofing, paints, and, starting in World War II, arms production. The cashew apple is a light reddish to yellow fruit, whose pulp and juice can be processed into a sweet, astringent fruit drink or fermented and distilled into liquor.</p>

<h2>Habitat of Cashew</h2>

<p class="para">
The species is native to Northeastern Brazil and Southeastern Venezuela, and later was distributed around the world in the 1500s by Portuguese explorers. Portuguese colonists in Brazil began exporting cashew nuts as early as the 1550s. The Portuguese took it to Goa, India between 1560 and 1565. From there, it spread throughout Southeast Asia and eventually Africa.</p>

<h2>Cultivation of Cashew </h2>

<p class="para">
In 2014, rapid growth of cashew cultivation in Ivory Coast made this country the top African exporter. Fluctuations in world market prices, poor working conditions, and low pay for local harvesting have caused discontent in the cashew nut industryThe cashew tree is cultivated in the tropics between 25°N and 25°S, and is well-adapted to hot lowland areas with a pronounced dry season, where the mango and tamarind trees also thrive.</p>
<p class="para">
The traditional cashew tree is tall (up to 14 m) and takes three years from planting before it starts production, and eight years before economic harvests can begin. More recent breeds, such as the dwarf cashew trees, are up to 6 m tall, and start producing after the first year, with economic yields after three years. The cashew nut yields for the traditional tree are about 0.25 metric tons per hectare, in contrast to over a ton per hectare for the dwarf variety. Grafting and other modern tree management technologies are used to further improve and sustain cashew nut yields in commercial orchards.</p>

<h2>Production of Cashew</h2>

<p class="para">
In 2020, global production of cashew nuts (as the kernel) was 4,180,990 tonnes, led by Ivory Coast and India with a combined 39% of the world total . Vietnam, Burundi, and the Philippines also had significant production. Vietnam was the largest processor of cashew globally in 2020.</p>

<h2> Nutrition</h2>

<p class="para">
Raw cashews are 5% water, 30% carbohydrates, 44% fat, and 18% protein . In a 100-gram reference amount, raw cashews provide 553 kilocalories, 67% of the Daily Value (DV) in total fats, 36% DV of protein, 13% DV of dietary fiber and 11% DV of carbohydrates</p>             

<p class="para">
Cashews are rich sources (20% or more of the DV) of dietary minerals, including particularly copper, manganese, phosphorus, and magnesium (79–110% DV), and of thiamin, vitamin B6 and vitamin K (32–37% DV).[32] Iron, potassium, zinc, and selenium are present in significant content (14–61% DV).[32] Cashews (100 g, raw) contain 113 milligrams (1.74 gr) of beta-sitosterol.</p>

<div class="clear">
</div>
<h2 style="text-align: center;">Cashew Cultivation</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<iframe width="560" height="315" src="https://www.youtube.com/embed/iFwu2cfsnmc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h2 style="text-align: center;">Cashew producing states in India</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<img src="{% static 'images/cashewmap.jpeg'%}" border="0" alt="Cashew cultivation in India" width="600" height="600" /></p>
</body>
</html>
    