{% load static %}
<!DOCTYPE html>
<head>
<title>About Coconut</title>
<style>
    .para{
        font-size: 18px;
    }
    </style>
</head>
<body style="background-color: azure;">
<img src="{% static 'images/coconut.jpeg'%}"border="0" alt="Coconut cultivation in India" width="1500" height="300" />
<h1>About Coconut</h1>
<p class="para">
The coconut tree (Cocos nucifera) is a member of the palm tree family (Arecaceae) and the only living species of the genus Cocos. The term "coconut" (or the archaic "cocoanut") can refer to the whole coconut palm, the seed, or the fruit, which botanically is a drupe, not a nut. The name comes from the old Portuguese word coco, meaning "head" or "skull", after the three indentations on the coconut shell that resemble facial features. They are ubiquitous in coastal tropical regions and are a cultural icon of the tropics.</p>

<p class="para">

The coconut tree provides food, fuel, cosmetics, folk medicine and building materials, among many other uses. The inner flesh of the mature seed, as well as the coconut milk extracted from it, form a regular part of the diets of many people in the tropics and subtropics.</p> 
  
<h2>History of Coconut</h2>

<p class="para">
Modern genetic studies have identified the center of origin of coconuts as being the Central Indo-Pacific, the region between western Southeast Asia and Melanesia, where it shows greatest genetic diversity. Their cultivation and spread was closely tied to the early migrations of the Austronesian peoples who carried coconuts as canoe plants to islands they settled. The similarities of the local names in the Austronesian region is also cited as evidence that the plant originated in the region. For example, the Polynesian and Melanesian term niu; Tagalog and Chamorro term niyog; and the Malay word nyiur or nyior. Other evidence for a Central Indo-Pacific origin is the native range of the coconut crab; and the higher amounts of C. nucifera-specific insect pests in the region (90%) in comparison to the Americas (20%), and Africa (4%).</p>

<h2>Natural habitat</h2>

<p class="para">
The coconut palm thrives on sandy soils and is highly tolerant of salinity. It prefers areas with abundant sunlight and regular rainfall (1,500–2,500 mm [59–98 in] annually), which makes colonizing shorelines of the tropics relatively straightforward. Coconuts also need high humidity (at least 70–80%) for optimum growth, which is why they are rarely seen in areas with low humidity. However, they can be found in humid areas with low annual precipitation such as in Karachi, Pakistan, which receives only about 250 mm (9+3⁄4 in) of rainfall per year, but is consistently warm and humid.</p>

<h2>Cultivation </h2>

<p class="para">
Coconut palms are normally cultivated in hot and wet tropical climates. They need year round warmth and moisture to grow well and fruit. Coconut palms are hard to establish in dry climates, and cannot grow there without frequent irrigation; in drought conditions, the new leaves do not open well, and older leaves may become desiccated; fruit also tends to be shed.</p>
<p class="para">
The extent of cultivation in the tropics is threatening a number of habitats, such as mangroves; an example of such damage to an ecoregion is in the Petenes mangroves of the YucatánThe extent of cultivation in the tropics is threatening a number of habitats, such as mangroves; an example of such damage to an ecoregion is in the Petenes mangroves of the Yucatán.Coconut has a number of commercial and traditional cultivars.</p>

<h2>Production</h2>

<p class="para">
Indonesia is the world's largest producer of coconuts, with gross production of 15 million tonnes. A sprouting coconut seed is the logo for Gerakan Pramuka Indonesia, the Indonesian scouting organization.The Philippines is the world's second-largest producer of coconuts. It was the world's largest producer for decades until a decline in production due to aging trees as well as typhoon devastation. Indonesia overtook it in 2010. It is still the largest producer of coconut oil and copra, accounting for 64% of the global production.</p>

<p class="para">
Traditional areas of coconut cultivation in India are the states of Kerala, Tamil Nadu, Karnataka, Puducherry, Andhra Pradesh, Goa, Maharashtra, Odisha, West Bengal and, Gujarat and the islands of Lakshadweep and Andaman and Nicobar. As per 2014–15 statistics from Coconut Development Board of Government of India, four southern states combined account for almost 90% of the total production in the country: Tamil Nadu (33.8%), Karnataka (25.2%), Kerala (24.0%), and Andhra Pradesh (7.2%).[103] Other states, such as Goa, Maharashtra, Odisha, West Bengal, and those in the northeast (Tripura and Assam) account for the remaining productions.</p>

<h2> Nutrition</h2>

<p class="para">
A 100-gram (3+1⁄2-ounce) reference serving of raw coconut flesh supplies 1,480 kilojoules (354 kilocalories) of food energy and a high amount of total fat (33 grams), especially saturated fat (89% of total fat), along with a moderate quantity of carbohydrates (15 g), and protein (3 g). Micronutrients in significant content (more than 10% of the Daily Value) include the dietary minerals, manganese, copper, iron, phosphorus, selenium, and zinc (table). The various parts of the coconut have a number of culinary uses.</p>             


<div class="clear">
</div>
<h2 style="text-align: center;">Coconut Cultivation</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<iframe width="560" height="315" src="https://www.youtube.com/embed/TEbM1KmcVDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h2 style="text-align: center;">Coconut producing states in India</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<img src="{% static 'images/coconutmap.jpeg'%}" border="0" alt="Coconut cultivation in India" width="600" height="600" /></p>
</body>
</html>
    