{% load static %}
<!DOCTYPE html>
<head>
<title>About Coffee</title>
<style>
    .para{
        font-size: 18px;
    }
    </style>
</head>
<body style="background-color: azure;">
<img src="{% static 'images/coffee.jpeg'%}" border="0" alt="Coffee cultivation in India" width="1600" height="300" />

<h1>About Coffee</h1>
<p class="para">
Coffee is a drink prepared from roasted coffee beans. Darkly colored, bitter, and slightly acidic, coffee has a stimulating effect on humans, primarily due to its caffeine content. It is the most popular hot drink in the world.</p>

<p class="para">

Seeds of the Coffea plant's fruits are separated to produce unroasted green coffee beans. The beans are roasted and then ground into fine particles that are typically steeped in hot water before being filtered out, producing a cup of coffee. It is usually served hot, although chilled or iced coffee is common. Coffee can be prepared and presented in a variety of ways (e.g., espresso, French press, caffè latte, or already-brewed canned coffee). Sugar, sugar substitutes, milk, and cream are often used to lessen the bitter taste or enhance the flavor.</p> 
  
<h2>History of Coffee</h2>

<p class="para">
According to one legend, ancestors of today's Oromo people in a region of Jimma in Ethiopia were the first to recognize the energizing effect of the coffee plant. However, no direct evidence has been found earlier than the 15th century indicating who among the African populations used it as a stimulant, or where coffee was first cultivated. The story of Kaldi, the 9th-century Ethiopian goatherd who discovered the stimulating effect of coffee when he noticed how excited his goats became after eating the beans from a coffee plant, did not appear in writing until 1671 and is probably apocryphal.</p>

<h2>Historical transmission</h2>

<p class="para">
The earliest credible evidence of coffee-drinking or knowledge of the coffee tree appears in the middle of the 15th century in the accounts of Ahmed al-Ghaffar in Yemen. It was here in Arabia that coffee seeds were first roasted and brewed in a similar way to how it is prepared now. Coffee was used by Sufi circles to stay awake for their religious rituals.Accounts differ on the origin of the coffee plant prior to its appearance in Yemen. From Ethiopia, coffee could have been introduced to Yemen via trade across the Red Sea.One account credits Muhammad Ibn Sa'd for bringing the beverage to Aden from the African coast. Other early accounts say Ali ben Omar of the Shadhili Sufi order was the first to introduce coffee to Arabia.</p>

<h2>Mass production </h2>

<p class="para">
Meanwhile, coffee had been introduced to Brazil in 1727, although its cultivation did not gather momentum until independence in 1822.After this time, massive tracts of rainforest were cleared for coffee plantations, first in the vicinity of Rio de Janeiro and later São Paulo. Brazil went from having essentially no coffee exports in 1800 to being a significant regional producer in 1830, to being the largest producer in the world by 1852. In 1910–20, Brazil exported around 70% of the world's coffee, Colombia, Guatemala, and Venezuela exported half of the remaining 30%, and Old World production accounted for less than 5% of world exports.</p>
<p class="para">
Cultivation was taken up by many countries in Central America in the latter half of the 19th century, and almost all involved the large-scale displacement and exploitation of the indigenous people. Harsh conditions led to many uprisings, coups, and bloody suppression of peasants.The notable exception was Costa Rica, where lack of ready labor prevented the formation of large farms. Smaller farms and more egalitarian conditions ameliorated unrest over the 19th and 20th centuries.</p>

<h2>Cultivation and production</h2>

<p class="para">
The traditional method of planting coffee is to place 20 seeds in each hole at the beginning of the rainy season. This method loses about 50% of the seeds' potential, as about half fail to sprout. A more effective process of growing coffee, used in Brazil, is to raise seedlings in nurseries that are then planted outside after six to twelve months. Coffee is often intercropped with food crops, such as corn, beans, or rice during the first few years of cultivation as farmers become familiar with its requirements.Coffee plants grow within a defined area between the tropics of Cancer and Capricorn, termed the bean belt or coffee belt.
In 2020, the world production of green coffee beans was 175,647,000 60 kg bags, led by Brazil with 39% of the total, followed by Vietnam, Colombia, and Indonesia.Brazil is the largest coffee exporting nation, accounting for 15% of all world exports in 2019. As of 2021, no synthetic coffee products are publicly available but multiple bioeconomy companies have reportedly produced first batches that are highly similar on the molecular level and are close to commercialization.</p>

<div class="clear">
</div>
<h2 style="text-align: center;">Coffee Cultivation</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<iframe width="560" height="315" src="https://www.youtube.com/embed/vzGa9Wi-KwM?start=54" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h2 style="text-align: center;">Coffee Producing States In India</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<img src="{% static 'images/coffeemap.jpeg'%}" border="0" alt="Coffee cultivation in India" width="600" height="600" /></p>  
</body>                                           
</html>
    