{% load static %}
<!DOCTYPE html>
<head>
<title>About Fruits</title>
<style>
    .para{
        font-size: 18px;
    }
    </style>
</head>
<body style="background-color: azure;">
<img src="{% static 'images/fruits.jpeg'%}" border="center" alt="Fruit cultivation in India" width="1550" height="250"/>
<h1>About Fruits</h1>
<p class="para">
Fruit crops represent a wide range of woody perennial species cultivated in orchards where soils vary greatly in their biological, chemical, and physical properties. Production of high-yield and high-quality fruits requires the application of appropriate fertilizers.</p>
<h2>India Important Fruits Growing Zones</h2>
<p class="para">
Fruit crops which are ever green unable to endure cool temperature but can tolerate warm temperature of about 1000F.Areas under the Fruit zone include West Bengal, Parts of Punjab, Haryana, Rajasthan Orissa, Maharashtra, AP, Karnataka, TN and Kerala.</p>
<h2>Climate requirement</h2>
<p class="para">
Climate is the principal factor controlling plant growth. It refers to the average condition of the atmosphere over along period, where as the term weather is used to describe the current and temporary atmospheric conditions. For successful growing of horticultural plants, various components of climate like temperature, humidity, wind, light, rainfall, hail and frost should be carefully studied.The plant performs well in optimum temperature range. The activities of the plant are affected by very high or very low temperature. The temperature range for plant is Minimum 4.5° to 6.5°C(40° - 43° F)  Optimum 24°to27°C(75° - 85° F) Maximum 29.5° to 45.4°C (85° - 114° F)</p>
<h2>Soil</h2>
<p class="para">
The best kind of soil to use for growing fruits is a soil with plenty of organic matter to keep your plants happy.Understanding soil composition, what nutrients should be in it, and how to improve it using organic methods is important.Loamy soil is also suitable for cultivating fruits</p>
<h2>Fertilizer Management</h2>
<p class="para">
Crop nutrition is important for the production of high-yielding, top quality fruit crops. Good soil and water management practices are important for a crop's efficient use of nutrients from organic and inorganic fertilizer. Nutrients must be dissolved in the soil water for root uptake.</p>
<h2>Nutrient Management</h2>
<p para="class">
Fruits crops by the virtue of their nutritional qualities have already emerged as a major alternative, cutting short the menacing load on the consumption of traditional monotonous cereal/tuber crop-based diet. Nutrient management based production system of perennial fruit crops is inherently complex to understand due to large variation in nutrient use efficiency</p>
<h2>Area, Production And Yield Of Major Fruit Crops Growing States In India </h2>
<div class="clear">
</div>
<h2 style="text-align: center;">About Fruits</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<iframe width="560" height="315" src="https://www.youtube.com/embed/7EbJP9R7WKg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h2 style="text-align: center;">Fruits producing States In India</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<img src="{% static 'images/fruitsmap.jpeg'%}"border="0" alt="Fruit cultivation in India" width="600" height="600" /></p>                                             
</html>