{% load static %}
<!DOCTYPE html>
<head>
<title>About Groundnut</title>
<style>
    .para{
        font-size: 18px;
    }
    </style>
</head>
<body style="background-color: azure;">
<img src="{% static 'images/groundnutmap.jpeg'%}"border="0" alt="Groundnut cultivation in India" width="1500" height="300" />
<h1>About Groundnut</h1>
<p class="para">
Peanut or groundnut (Arachis hypogaea), is a species in the legume or "bean" family. The peanut was probably first domesticated and cultivated in the valleys of Paraguay. It is an annual herbaceous plant growing 30 to 50 cm (1.0 to 1.6 ft) tall. The leaves are opposite, pinnate with four leaflets (two opposite pairs; no terminal leaflet).Peanuts are known by many other local names such as earthnuts, ground nuts, goober peas, monkey nuts, pygmy nuts and pig nuts. Despite its name and appearance, the peanut is not a nut, but rather a legume.India is the second-largest producer of groundnuts in the world. Indian groundnuts are available in different varieties: Bold or Runner, Java or Spanish and Red Natal. The main Groundnut varieties produced in India are Kadiri-2, Kadiri-3, BG-1, BG-2, Kuber, GAUG-1, GAUG-10, PG-1, T-28, T-64, Chandra, Chitra, Kaushal, Parkash, Amber, etc.</p>
<h2>History of Groundnut</h2>
<p class="para">
Groundnut, ‘the unpredictable legume’ is also known as earthnut, peanut, monkey nut and manilla nut. It is the 13th most important food crop and 4th most important oilseed crop of the world. The botanical name Arachis hypogaea L. has been derived from the Greek words, Arachis meaning a legume and hypogaea meaning below ground referring to geocarpic nature of pod formation.</p>


<h2>Climate requirement</h2>

<p class="para">
A minimum 100 - day optimum temperature growing season is necessary for successful groundnut crop production. Adequate and well distributed rainfall during the growing season, especially during flowering, pegging and pod formation stages, is essential for maximum yield and quality of groundnut. Groundnut is grown in areas receiving 600 to 1500 mm of rainfall. However, the crop can be grown successfully with a rainfall of 1250 mm.</p>
<div class="para">
<ul>
<li>The amount of rainfall required:</li>
<li>Pre-sowing operations (preparatory cultivation) 100 mm</li>
<li>Sowing 150 mm</li>
<li>Flowering and pod development 400-500 mm</li>
</ul>
<h2>Nutritional Value of Groundnut</h2></div>
<p class="para">
The groundnut is particularly valued for its protein content (26%). On equal weight basis (Kg for Kg), groundnuts contain more protein than meat and about two and a half times more than eggs. Being an oil seed crop, it contains 40 to 49% oil. In addition to protein, groundnuts are a good source of calcium, phosphorus, iron, zinc and boron.</p>
<h2>Medicinal Value</h2>
<p class="para">
Groundnuts are abundant in protein, healthy fats and dietary fibre. Groundnuts are immensely rich in potassium, calcium, phosphorus and B vitamins which offers you with a host of health benefits. Groundnuts are a great blend of healthy fats, protein and fibre that curbs your appetite, lowers the risk of heart disease and regulates blood glucose levels.</p>
<div class="para">
<ul>
<li>Groundnut Nutrition Per 100 grams</li>
<li>Calories 567 kcal</li>
<li>Sugar 4 g</li>  
<li>Protein 26 g </li>      

<li>Saturated fat 7 g </li>        

<li>Cholesterol 0 mg </li>       

<li>Sodium 18 mg </li>  

<li>Potassium 705 mg</li>

<li>Vitamin B1 0.9mg</li>

<li>Vitamin B2 0.2mg</li>
</ul></div>
<h2>Crop production Practices </h2>
<div class="para">
<ul>
<li>improve or maintain soil fertility</li>
<li>reduce erosion</li>

<li>reduce the build-up of pests</li>

<li>spread the workload on family labor, use of bullocks and farm equipment, hired labor etc.</li>

<li>reduce risk of weather damage</li>

<li>reduce reliance on agricultural chemicals</li>

<li>increase net profits.</li>
</ul>
When selecting a rotation, the long term viability of that rotation to reduce weed, insect and disease pressure, as well as its economic viability must be considered.A well developed plan which can be altered when necessary should always be followed.Otherwise, the desired crop sequence may be interrupted and the maximum benefits of the rotational effect will not be obtained.</div>



<div class="clear">
</div>
<h2 style="text-align: center;">Groundnut Cultivation</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<iframe width="560" height="315" src="https://youtu.be/cMyAYLt7zxs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h2 style="text-align: center;">Groundnut Producing States In India</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<img src="{% static 'images/groundnut.jpeg'%}" border="0" alt="Groundnut cultivation in India" width="600" height="600" /></p>
</body>
</html>