{% load static %}
<!DOCTYPE html>
<head>
<title>About Jowar</title>
<style>
    .para{
        font-size: 18px;
    }
    </style>
</head>
<body style="background-color: azure;">
<img src="{% static 'images/jowar.jpeg'%}"border="0" alt="Jowar cultivation in India" width="1500" height="400" />
<h1>About Jowar</h1>
<p class="para">
Jowar is commonly called by various names across India- jwaarie, jowar, jola, or jondhalaa and is used to make bhakri, jowar roti, or jolada rotti. Its English name Sorghum, comes from the family it belongs to, Sorghum Vulgare. Extensively cultivated in Asia and Africa, jowar is a staple source of nutrition in areas that are arid, and it also does not need special care for growing. There are 30 varieties of Sorghum, only one of which is used for human consumption. It is the 5th most important cereal in the world.</p>

<h2>History of Jowar</h2>
<p class="para">
Jowar is a genus of plants in the grass family. It originated in Africa, which continues to be the largest cultivator of this crop. Over time, the crop has spread to southern Asia and the Americas as well.</p>
<h2>Climate requirement</h2>

<p class="para">
Jowar crop requires rainfall about 40 cm annually. Jowar is extreme drought tolerant crop and recomended for dry regions. Too much of moist and pro longed dry conditions are not suitable for jowar cultivation.</p>

<h2>Nutritional Value of Jowar</h2>
<p class="para">
Gluten-Free:Gluten is a protein found in cereal grains like wheat, barley and rye. This is known to be detrimental for health of individuals with celiac disease. Jowar being gluten-free is also found to be beneficial for people with IBS. Replacing wheat with jowar was found to reduce symptoms like bloating, diarrhoea, constipation, fatigue, headaches etc.  Even if you do not come into either of the categories, replacing one meal's cereal with jowar or any other millet is a good idea. This is primarily because it ensures that you consume all the goodness from different sources and your digestive tract gets a break from the same food day in and day out, keeping it healthy.</p>
<h2>Medicinal Value</h2>
<p class="para">
Sorghum bicolour a common species of jowar, native to Africa is an important cereal crop, used mainly for food, animal fodder, making of alcoholic beverages and biofuels. Jowar is a drought and heat-resistant plant which grows in an arid and dry region and forms the staple grain for poor and rural people.</p>
<h2>Crop production Practices </h2>
<p class="para">
Sorghum is a vigorous, hardy, and drought-tolerant crop, which grows up to 4 meters tall and has a high potential yield. It is a perennial grass but is mostly cultivated as an annual crop. Sorghum can go into dormancy during drought conditions and resume growth when the rains come because it has a more efficient root system than most cereal crops (except millet) and rolls its leaves to reduce evapotranspiration.</p>
<div class="clear">
</div>
<h2 style="text-align: center;">Jowar Cultivation</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<<iframe width="560" height="315" src="https://www.youtube.com/embed/MqvE4PLQlDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h2 style="text-align: center;">Jowar Producing States In India</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<img src="{% static 'images/jowarmap.jpeg'%}" border="0" alt="Rice cultivation in India" width="600" height="600" /></p>
</body>
</html>