{% load static %}
<!DOCTYPE html>
<head>
<title>About Maize</title>
 <title>Cotton</title>
    <style>
     .para{
        font-size: 18px;
    }
    li{
        font-size: 18px;
    }
    </style>
</head>
<body style="background-color: azure;">
<img src="{% static 'images/maize.jpeg'%}" border="0" alt="Maize cultivation in India" width="1520" height="250" />

<h1>About Maize </h1>
<p class="para">
Maize also known as corn ,is a cereal grain first domesticated by indigenous peoples in southern Mexico about 10,000 years ago.The leafy stalk of the plant produces pollen inflorescences (or "tassels") and separate ovuliferous inflorescences called ears that when fertilized yield kernels or seeds, which are fruits.The term maize is preferred in formal, scientific, and international usage as a common name because it refers specifically to this one grain, unlike corn, which has a complex variety of meanings that vary by context and geographic region.</p>
<p class="para">
Maize has become a staple food in many parts of the world, with the total production of maize surpassing that of wheat or rice. In addition to being consumed directly by humans (often in the form of masa), maize is also used for corn ethanol, animal feed and other maize products, such as corn starch and corn syrup.The six major types of maize are dent corn, flint corn, pod corn, popcorn, flour corn, and sweet corn.Sugar-rich varieties called sweet corn are usually grown for human consumption as kernels, while field corn varieties are used for animal feed, various corn-based human food uses (including grinding into cornmeal or masa, pressing into corn oil, fermentation and distillation into alcoholic beverages like bourbon whiskey), and as feedstocks for the chemical industry. Maize is also used in making ethanol and other biofuels.</p>      
<p class="para">
Maize is widely cultivated throughout the world, and a greater weight of maize is produced each year than any other grain.In 2021, total world production was 1.2 billion tonnes. Maize is the most widely grown grain crop throughout the Americas, with 384 million metric tons grown in the United States alone in 2021.[citation needed] Genetically modified maize made up 85% of the maize planted in the United States in 2009.Subsidies in the United States help to account for its high level of cultivation of maize and its position as the largest producer in the world.</p>
  
<h2>Maize Production</h2>

<p class="para">
The entire Maize production areas has been categorized into 6 major
countries as follows</p>
<div class="clear">
</div>       
<table border="2" width="1000" height="200" >
<tr class="tabletextbold">
<td>Country</td>
<td>Production(million of tonnes)</td>
</tr>
<tr>
<td>United States</td>
<td>360.3</td>
</tr>
<tr>
<td>China</td>
<td>260.7</td>
</tr>
<tr>
<td>Brazil</td>
<td>104</td>
</tr>
<tr>
<td>Argentina</td>
<td>58.4</td>
</tr>
<tr>
<td>India</td>
<td>30.2</td>
</tr>
<tr>
<td>Russia</td>
<td>13.9</td>
</tr>
</table>
<br>
</br>
<h2>Climatic Requirements </h2>
<p class="para">
Maize can be cultivated in different types of climates, but the growth, development and yield of maize is found more in the hot regions. It is a hot season crop.</p>
<p class="para">
Night and day temperatures should be higher for its deposition. The maize crop requires sufficient moisture in the soil since its inception.Temperature of 18 to 23 degree Celsius for deposition and 28 degree Celsius temperature is considered good for growth and development.</p>

<h2>Soil</h2>

<p class="para">
Maize can be grown successfully in variety of soils ranging from loamy sand to clay loam. However, soils with good organic matter content having high water holding capacity with neutral pH are considered good for higher productivity.Being a sensitive crop to moisture stress
particularly excess soil moisture and salinity stresses; it is desirable to avoid low lying fields
having poor drainage and also the field having higher salinity. Therefore, the fields having
provision of proper drainage should be selected for cultivation of maize. </p>

<h2>Fertilizer Requirements </h2>

<p class="para">
First of all, you have to consider the soil condition of your field through semi-annual or annual soil testing before applying any fertilization method. There are no two identical fields in the world, and thus, nobody can advise you on fertilization methods without considering your soil’s test data, tissue analysis, and field history. However, we will list some standard fertilization programs that many farmers use worldwide.For every ton of whole plant corn harvest, we remove from the soil about 25 kg of N, 5 kg of P and 20 kg of K. As a rule of thumb, we may need to supplement about 100 kg N, 280 kg of  P2O5, and 100 K2O per hectare, in order to have a satisfactory corn yield for the years to come. However, it is very important to understand which nutrient is necessary for plant growth and at which stage. Otherwise, if you apply a nutrient at the wrong time, you may harm your crop.</p>

<h2>Nutrient management </h2>

<p class="para">
Raw, yellow, sweet maize kernels are composed of 76% water, 19% carbohydrates, 3% protein, and 1% fat (table). In a 100-gram serving, maize kernels provide 86 calories and are a good source (10 to 19% of the Daily Value) of the B vitamins, thiamin, niacin (but see Pellagra warning below), pantothenic acid (B5) and folate (right table for raw, uncooked kernels, USDA Nutrient Database). In moderate amounts, they also supply dietary fiber and the essential minerals, magnesium and phosphorus whereas other nutrients are in low amounts (table)
Maize has suboptimal amounts of the essential amino acids tryptophan and lysine, which accounts for its lower status as a protein source.However, the proteins of beans and legumes complement those of maize.</p>             
<ul>
<li>Integrated Nutrient Management (INM) is the process to maintain the soil fertility</li>
<li>Plant nutrient supply at an optimum level through optimization by the benefits of all possible sources</li>
<li>Like inorganic, organic, biofertilizers and through green manure</li>
<li>Efficient use of nutrients can be achieved by the adoption of best nutrient management practices (BMPs)</li>
<li>BMPs include selecting the right fertilizer product and applying the right amount at the right time and place to match plant needs and reduce nutrient losses</li>
</ul>        
<div class="clear">
</div>
<h2 style="text-align: center;">Maize/corn Cultivation</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<iframe width="560" height="315" src="https://www.youtube.com/embed/O0KSZn5QuX0?start=54" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h2 style="text-align: center;">Maize Producing States In India</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<img src="{% static 'images/maizemap.jpeg'%}"border="0" alt="Maize cultivation in India" width="475" height="513" /></p> 
</body>                                          
</html>
    