{% load static %}
<!DOCTYPE html>
<head>
<title>About OilSeeds</title>
<style>
    .para{
        font-size: 18px;
    }
    </style>
</head>
<body style="background-color: azure;">
<img src="{% static 'images/oilseeds.jpeg'%}"border="0" alt="Oilseeds cultivation in India" width="1500" height="300" />
<h1>About OilSeeds</h1>
<p class="para">
Vegetable oils, or vegetable fats, are oils extracted from seeds or from other parts of fruits. Like animal fats, vegetable fats are mixtures of triglycerides.[1] Soybean oil, grape seed oil, and cocoa butter are examples of seed oils, or fats from seeds. Olive oil, palm oil, and rice bran oil are examples of fats from other parts of fruits. In common usage, vegetable oil may refer exclusively to vegetable fats which are liquid at room temperature.[2][3] Vegetable oils are usually edible.</p>

<p class="para">

The production process of vegetable oil involves the removal of oil from plant components, typically seeds. This can be done via mechanical extraction using an oil mill or chemical extraction using a solvent. The extracted oil can then be purified and, if required, refined or chemically altered.Seed oils are vegetable oils obtained from the seed (endosperm) of some plants, rather than the fruit (pericarp). Most vegetable oils are seed oils. Examples are sunflower, corn, and sesame oils.</p> 
  
<h2>History of OilSeeds</h2>

<p class="para">
Such oils have been part of human culture for millennia.Oils such as poppy seed, rapeseed, linseed, almond oil, sesame seed, safflower, and cottonseed were variously used since at least the Bronze Age in the Middle East.Vegetable oils have been used for lighting fuel, cooking, medicine and lubrication. Palm oil has long been recognized in West and Central African countries, and European merchants trading with West Africa occasionally purchased palm oil for use as a cooking oil in Europe and it became highly sought-after commodity by British traders for use as an industrial lubricant for machinery during Britain's Industrial Revolution.Palm oil formed the basis of soap products, such as Lever Brothers' (now Unilever) "Sunlight", and B. J. Johnson Company's (now Colgate-Palmolive) "Palmolive",and by around 1870, palm oil constituted the primary export of some West African countries.</p>
<p class="para">
The early 20th century also saw the start of the use of vegetable oil as a fuel in diesel engines and in heating oil burners. Rudolf Diesel designed his engine to run on vegetable oil. The idea, he hoped, would make his engines more attractive to farmers having a source of fuel readily available. Diesel's first engine ran on its own power for the first time in Augsburg, Germany, on 10 August 1893 on nothing but peanut oil. In remembrance of this event, 10 August has been declared "International Biodiesel Day.</p>

<h2>Climate requirement</h2>

<p class="para">
Although this crop can be grown under varied geographical conditions, it prefers cool, moist climate with about 20°C temperature and 75 cm rainfall. Clay loams, deep black soils and alluvial soils are best suited for its cultivation. It can be cultivated upto a height of 800 metres above sea level. It is a rabi-crop which is sown in Oct-Nov. and harvested in March-April.</p>

<h2>Nutritional Value of OilSeeds </h2>

<p class="para">
Oilseeds are energy dense foods, due to their high oil content. They are a source of fibre, vitamins (vitamin E, niacin, and foliate), minerals (phosphorus, iron, and magnesium), monounsaturated (e.g., peanuts) and polyunsaturated (e.g., sunflower) fatty acids. Oilseed proteins are deficient in lysine and sulphur amino acids compared to animal proteins and may contain anti-nutritional factors. Despite these limitations, easily overcome by supplementation with other proteins and physico-chemical treatments respectively, oilseed protein makes a significant contribution to the human dietary protein intake. Furthermore, oilseeds are generally richer in sulphur amino acids than legumes, but poorer in lysine except for rapeseed. The nutritional quality of oilseed meals depends largely on the oil extraction process. Severe heat treatment results in the destruction of several amino acids, particularly lysine, methionine, arginine, tryptophan and cysteine.</p>

<h2>Crop production Practices </h2>

<p class="para">
India is the largest producer of groundnut in the world and accounts for about one-third of the world’s production. There had been almost 150 per cent increase in the production of groundnut from 34.8 lakh tonnes in 1950-51 to a record production of 85.6 lakh tonnes in 1992-93.</p>             
The production of oilseeds in India has been growing for the last five years. In 2020-21, the production of the country was 365.65 lakh tonne which was a 10% increase from that of the previous year. From the years 2015-16 to 2020-21, the compound annual growth rate (CAGR) of production was 7.7%. This was achieved due to implementation of various programs like special programmes on mustard & rapeseed during Rabi and cluster demonstrations of improved technology by the Government of India.

<p class="para">
The use of quality seeds in cultivation of rice is an important factor to get better crop yield. Therefore, proper care has to be taken in selecting seeds of the best quality. Much of the success in raising the healthy seedlings depends on the quality of seed. Seeds intended for sowing should satisfy the following requirements.
The largest oilseed-producing states in India include Andhra Pradesh, Gujarat, Haryana, Karnataka, Madhya Pradesh, Maharashtra, Rajasthan, Tamil Nadu, Uttar Pradesh, West Bengal. Out of these states, Rajasthan, Gujarat, Madhya Pradesh and Maharashtra are the top producers with a share of about 20%, 20%, 19% and 16% of the total production, respectively.</p>
<div class="clear">
</div>
<h2 style="text-align: center;">OilSeeds Cultivation</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<iframe width="560" height="315" src="https://www.youtube.com/embed/fKbnPeAVxkA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h2 style="text-align: center;">OilSeeds Producing States In India</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<img src="{% static 'images/oilseedsmap.jpg'%}" border="0" alt="oilseeds cultivation in India" width="600" height="600" /></p>
</body>
</html>
    