{% load static %}
<!DOCTYPE html>
<head>
<title>About Potato</title>
<style>
    .para{
        font-size: 18px;
    }
    </style>
</head>
<body style="background-color: azure;">
<img src="{% static 'images/potato.jpeg'%}"border="0" alt="Potato cultivation in India" width="1500" height="300" />
<h1>About Potato</h1>
<p class="para">
Potato (Solanum tuberosum) is the most important food crop of the world. Potato is a temperate crop grown under subtropical conditions in India. The potato is a crop which has always been the ‘poor man’s friend’. Potato is being cultivated in the country for the last more than 300 years. For vegetable purposes it has become one of the most popular crops in this country. Potatoes are an economical food; they provide a source of low cost energy to the human diet. Potatoes are a rich source of starch, vitamins especially C and B1 and minerals.</p>
<h2>History of Potato</h2>
<p class="para">
The potato was the first domesticated vegetable in the region of modern-day southern Peru and extreme northwestern Bolivia between 8000 and 5000 BCE. Cultivation of potatoes in South America may go back 10,000 years, but tubers do not preserve well in the archaeological record, making identification difficult. The earliest archaeologically verified potato tuber remains have been found at the coastal site of Ancón (central Peru), dating to 2500 BC.Aside from actual remains, the potato is also found in the Peruvian archaeological record as a design influence of ceramic pottery, often in the shape of vessels. The potato has since spread around the world and has become a staple crop in most countries.</p>

<h2>Climate requirement</h2>

<p class="para">
Potato is a temperate climate crop, however it grows under a diverse range of climatic conditions. It is grown only under such conditions where the temperature during the growing seasons is moderately cool. The vegetative growth of the plant is best at a temperature of 24°C while tuber development is favoured at 20°C. Hence, potato is grown as a summer crop in the hills and as a winter crop in the tropical and subtropical regions. The crop can be raised up to an altitude of 3000 m above the sea level.</p>

<h2>Nutritional Value of Potato</h2>
<p class="para">
Potatoes are naturally fat free, cholesterol free, and low in sodium. In addition, potatoes are an excellent source of vitamin C, and those eaten with the skin are a good source of potassium</p>
<h2>Medicinal Value</h2>
<p class="para">
<ul>
<li>The medicinal values of potato are indicated below:</li>
</li>Potato helps human body to absorb iron from other food items.</li>
</li>Potato contains anti-oxidants which protect cells from free radical damage. Thus potato helps in preventing cancer.</li>
</li>As potato contains Folate, it helps in normal blood formation and proper cell division.</li>
</li>It also improves the functioning of immune system in human body and reduces tiredness and fatigue.</li>
</li>As potato contains thiamine, potato is good for cardio-vascular metabolism, neurological and cardiac functions of human body.</li>
</li>Thiamine also helps to improve physiological functioning.</li>
</li>Presence of vitamin B5 in potato helps in food metabolism and reduction of tiredness and fatigue.</li>
</li>Due to presence of potassium, potato helps regulate fluid and mineral (sodium) balance in and out of human cells, and in this process, helps and counteracts the negative effects of sodium.</li>
</li>Potato contains dietary fibre, which is essential for a healthy digestive system. So, potato helps to keep bowels regular and prevents constipation.</li>
</ul>
<div class="clear">
</div>
<h2 style="text-align: center;">Potato Cultivation</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<iframe width="560" height="315" src="https://www.youtube.com/embed/lkJ0aJNzf1g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h2 style="text-align: center;">Potato Producing States In India</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<img src="{% static 'images/potatomap.jpeg'%}" border="0" alt="Potato cultivation in India" width="600" height="600" /></p>
</body>
</html>