{% load static %}
<!DOCTYPE html>
<head>
<title>About Sunflower</title>
<style>
    .para{
        font-size: 18px;
    }
    </style>
</head>
<body style="background-color: azure;">
<img src="{% static 'images/sunflower.jpeg'%}"border="0" alt="Sunflower cultivation in India" width="1500" height="300" />
<h1>About Sunflower</h1>
<p class="para">
Sunflower can be produced in a relatively wide range of environments compared to other oilseed crops. Globally it is grown in more than 80 countries with the greatest acreage in Russia, Ukraine, Argentina, Turkey and Romania. Sunflower seeds are grown primarily for oil and for the confectionary market.</p> 
  
<h2>History of Sunflower</h2>

<p class="para">
The sunflower is native to North America and was first grown as a crop by indigenous tribes over 4,500 years ago.Native Americans cultivated the sunflower from its original bushy, multi-headed type to produce a single-stemmed plant bearing a large flower.The crop’s multiple uses included milling for flour or meal production to make bread and cakes. Seeds were roasted, cracked and eaten whole, either as a snack or mixed with other grains, nuts and pulses into a type of granola.</p>

<h2>Climate requirement</h2>

<p class="para">
Sunflower grown well within a temperature range of 20 - 250C, although controlled environment tests indicate that 27 - 280C would appear to be the optimum.
A range of 8 - 340C is tolerated without significant yield reduction, indicating adaptation to regions with warm days and cold nights.</p>

<h2>Important regions/ zones for Jute cultivation in India</h2>

<p class="para">
In India, sunflower as an oilseed crop introduced in 1969, prior to which it was used as an ornamental plant.
Six states with Karnataka in the lead are the major producers of sunflower in the country. Karnataka with a production of 3.04 lakh tonnes from an area of 7.94 lakh hectares followed by Andhra Pradesh, Maharashtra, Bihar, Orissa and Tamil Nadu are major sunflower producing states of India. Sunflower production follows a systemic weather risk as about 80 per cent of the area is under rain-fed production. In terms of productivity, Bihar leads with 1402 kg/ha followed by Tamil Nadu with 1328.7 kg, although both the states have less than 25000 hectares under the crop which is mostly irrigated. The average productivity at all India level was 900 kg/ha depending on the climatic conditions and irrigation, which are critical factors for high yields..</p>

<h2>Crop production</h2>

<p class="para">
n the U.A. in 2021, sunflowers were produced on 1.29 million acres with the largest production occurring in North and South Dakota. Additionally, there was significant acreage of sunflower in Minnesota, Colorado, California, Nebraska, Texas and Kansas. The average yield of sunflowers in 2021 was 1,554 lb per acre.</p>  
 
<p class="para">The United States produces both oil and confectionary types of sunflowers with about 90% of the area planted to oil types. Sunflowers can successfully be grown over a wide range of latitudes compared to other oilseed crops. The U.S. growing season for sunflowers is from June through September and is about 90 days in length. Sunflowers thrive in northern areas and in southern double-cropping systems. High-production states, such as North Dakota and South Dakota, have cooler temperatures and harsh winters that help reduce some pests that are problematic to the crop. </p>

<p class="para">Crop rotations also influence growers’ decisions to plant sunflowers. Sunflowers have a deep root system that allows them to flourish in rotations that leave water in deeper profiles of the soil. In dry regions, a fallow period is often recommended following sunflowers to allow some replenishment of depleted soil water reserves. Moisture-conserving crop production techniques such as no-till and minimum till allow farmers to be more flexible and have increased dryland cropping intensity overall and the viability of summer crops, such as sunflowers in particular. Under irrigation, sunflowers compete with corn, silage crops, dry edible beans and wheat for acreage. </p>


</div>
<h2 style="text-align: center;">Sunflower Cultivation</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<iframe width="560" height="315" src="https://www.youtube.com/embed/sS6dDJQ3CQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h2 style="text-align: center;">Sunflower Producing States In India</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<img src="{% static 'images/sunflowermap.png'%}" border="0" alt="Sunflower cultivation in India" width="600" height="600" /></p>
</body>
</html>
    