{% load static %}
<!DOCTYPE html>
<head>
<title>About Tea</title>
<style>
    .para{
        font-size: 18px;
    }
    </style>
</head>
<body style="background-color:azure;">

<img src="{% static 'images/tea.jpeg'%}" border="0" alt="Tea cultivation in India" width="1500" height="300" />

<h1>About Tea</h1>
<p class="para">
Tea or cha is an aromatic beverage prepared by pouring hot or boiling water over cured or fresh leaves of Camellia sinensis, an evergreen shrub native to East Asia which probably originated in the borderlands of southwestern China and northern Myanmar. Tea is also rarely made from the leaves of Camellia taliensis. After plain water, tea is the most widely consumed drink in the world. There are many different types of tea; some have a cooling, slightly bitter, and astringent flavour, while others have vastly different profiles that include sweet, nutty, floral, or grassy notes. Tea has a stimulating effect in humans primarily due to its caffeine content.</p>

<p class="para">

An early credible record of tea drinking dates to the third century AD, in a medical text written by Chinese physician Hua Tuo. It was popularised as a recreational drink during the Chinese Tang dynasty, and tea drinking subsequently spread to other East Asian countries. Portuguese priests and merchants introduced it to Europe during the 16th century. During the 17th century, drinking tea became fashionable among the English, who started to plant tea on a large scale in British India.</p> 
  
<h2>Early tea drinking</h2>

<p class="para">
People in ancient East Asia ate tea for centuries, perhaps even millennia, before ever consuming it as a beverage. They would nibble on the leaves raw, add them to soups or greens, or ferment them and chew it like how betel is chewed.Tea drinking may have begun in the region of Yunnan, where it was used for medicinal purposes. It is also believed that in Sichuan, "people began to boil tea leaves for consumption into a concentrated liquid without the addition of other leaves or herbs, thereby using tea as a bitter yet stimulating drink, rather than a medicinal concoction.</p>

<h2>Developments</h2>
<p class="para">
Through the centuries, a variety of techniques for processing tea, and a number of different forms of tea, were developed. During the Tang dynasty, tea was steamed, then pounded and shaped into cake form, while in the Song dynasty, loose-leaf tea was developed and became popular. During the Yuan and Ming dynasties, unoxidized tea leaves were first stirred in a hot dry pan, then rolled and air-dried, a process that stops the oxidation process that would have turned the leaves dark, thereby allowing tea to remain green. In the 15th century, oolong tea, in which the leaves are allowed to partially oxidize before being heated in the pan, was developed. Western tastes, however, favoured the fully oxidized black tea, and the leaves were allowed to oxidize further. Yellow tea was an accidental discovery in the production of green tea during the Ming dynasty, when apparently careless practices allowed the leaves to turn yellow, which yielded a different flavour.</p>

<h2>Health effects</h2>

<p class="para">
Although health benefits have been assumed throughout the history of Camellia sinensis's consumption, there is no high-quality evidence showing that tea consumption gives significant benefits other than possibly increasing alertness, an effect caused by caffeine in the tea leaves. In clinical research conducted in the early 21st century, there is no scientific evidence to indicate that consuming tea affects any disease or improves health.</p>


<h2>Cultivation and harvesting </h2>

<p class="para">
Camellia sinensis is an evergreen plant that grows mainly in tropical and subtropical climates. Some varieties can also tolerate marine climates and are cultivated as far north as Cornwall in England, Perthshire in Scotland, Washington in the United States, and Vancouver Island in Canada. In the Southern Hemisphere, tea is grown as far south as Hobart in Tasmania and Waikato in New Zealand.Tea plants are propagated from seed and cuttings; about 4 to 12 years are needed for a plant to bear seed and about three years before a new plant is ready for harvesting. In addition to a zone 8 climate or warmer, tea plants require at least 127 cm (50 in) of rainfall per year and prefer acidic soils. Many high-quality tea plants are cultivated at elevations of up to 1,500 m (4,900 ft) above sea level. Though at these heights the plants grow more slowly, they acquire a better flavour.</p>             
<div class="clear">
</div>
<h2 style="text-align: center;">Tea Cultivation</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<iframe width="560" height="315" src="https://www.youtube.com/embed/dTHansLrH0M?start=54" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<h2 style="text-align: center;">Tea Producing States In India</h2>
<p align="center" style="padding: 0px 0px 0px 50px">
<img src="{% static 'images/teamap.jpeg'%}" border="0" alt="Tea cultivation in India" width="600" height="600" /></p>                                             
</html>
    