{% load static %}
<html>
<head>
	<title>videos</title>
	<style>
		a:link, a:visited {
  background-color:limegreen;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color:lightgreen;
}
	</style>
</head>
<body>
	<div align="right">
	<a href="http://127.0.0.1:8000/home/">Home</a>
</div>
<table>
	<div class="main">
<tr>
<td>
<h2>About Wheat</h2>
<iframe width="500" height="315" src="https://www.youtube.com/embed/hvsJJXbyMhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</td>
<td>
<h2>About Rice</h2>
<iframe width="500" height="315" src="https://www.youtube.com/embed/_a_g5LGRF2w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</td>
<td>
<h2>About Coffee</h2>
<iframe width="500" height="315" src="https://www.youtube.com/embed/pJXTEZYxCKs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
</tr>
<tr>
	<td>
<h2>About SugarCane</h2>
<iframe width="500" height="315" src="https://www.youtube.com/embed/jv-lKPZd_30" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</td>
<td>
	<h2>About Jute</h2>
	<iframe width="500" height="315" src="https://www.youtube.com/embed/_9OmBM8Ol3E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</td>
<td>
	<h2>About Maize</h2>
	<iframe width="500" height="315" src="https://www.youtube.com/embed/72-Q5JU-kV8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>
<h2>About Tea</h2>
<iframe width="500" height="315" src="https://www.youtube.com/embed/dTHansLrH0M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</td>
<td>
	<h2>About Sunflower</h2>
	<iframe width="500" height="315" src="https://www.youtube.com/embed/Y1C8YOgGK7E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</td>
<td>
	<h2>About Pulses</h2>
	<iframe width="500" height="315" src="https://www.youtube.com/embed/aXdjmmu73Hc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>
	<h2>About Vegetables</h2>
	<iframe width="500" height="315" src="https://www.youtube.com/embed/lNr2txJqlD0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</td>
<td>
	<h2>About Tobacoo</h2>
	<iframe width="500" height="315" src="https://www.youtube.com/embed/7FTSESjjN-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</td>
<td>
	
	<h2>About Barley</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/okfNv2Jgv0c?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	
</td>
</tr>
<tr>
	<td>
		<h2>About Oil Seeds</h2>
		<iframe width="500" height="315" src="https://www.youtube.com/embed/EObJVfiX7gQ?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</td>
	<td>
		<h2>About cereals</h2>
		<iframe width="500" height="315" src="https://www.youtube.com/embed/4Cl9Hn-YYwI?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
	<td>
		<h2>About groundnut</h2>
		<iframe width="500" height="315" src="https://www.youtube.com/embed/NZJUtNtGQxM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
	</tr>
	<tr>
		<td>
			<h2>About Jowar</h2>
			<iframe width="500" height="315" src="https://www.youtube.com/embed/6xdcaRdxejs?start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
		<td>
			<h2>About Potato</h2>
			<iframe width="500" height="315" src="https://www.youtube.com/embed/iwCt_kYtzNI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
			<td>
				<h2>About Millets</h2>
				<iframe width="500" height="315" src="https://www.youtube.com/embed/cEk81jSwXDI?start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
			</tr>
	<tr>
			<td>
				<h2>About Rubber</h2>
				<iframe width="500" height="315" src="https://www.youtube.com/embed/1Nd41-plHnk?start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
				<td>
					<h2>About Cashew</h2>
					<iframe width="500" height="315" src="https://www.youtube.com/embed/94OZtilGaK0?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
					<td>
						<h2>About Coconut</h2>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/7oOiQkkR8co?start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
					
					</td>
				</tr>
					


</table>
</body>
</html>